.article-container {
  margin: 15px 0px;
}

.film-container {
  height: 100%;
  margin: 20px 20px;
  box-shadow: 1px 10px 5px #ccc;
}

.film-container:hover {
  box-shadow: 3px 25px 15px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -4px, 0);
}

.film-details-container {
  padding: 20px 30px;
}

.film-description {
  margin: 20px 0px 10px;
  text-align: justify;
  text-justify: inter-word;
}
